html, body {
    color: #333;
    margin: 0;
    height: 100%;
    font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000;
}
a, label, button, input, select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
    border: 0;
}
body {
    background: #fff;
    color: #666;
}
html, body, div, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, button, fieldset, form, input, legend, textarea, th, td {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #08acee;
}
button {
    outline: 0;
}
img {
    border: 0;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    outline: none;
}
li {
    list-style: none;
}
a {
    color: #666;
}
.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
}
.divHeight {
    width: 100%;
    height: 10px;
    background: #f5f5f5;
    position: relative;
    overflow: hidden;
}
.r-line {
    position: relative;
}
.r-line:after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 1px solid #D9D9D9;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}
.b-line {
    position: relative;
}
.b-line:after {
    content: '';
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e2e2e2;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.jq22-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 15px;
    position: relative;
}
.jq22-flex-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    font-size: 14px;
    color: #333;
}
/* 必要布局样式css */

.jq22-flexView {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.jq22-scrollView {
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    margin-top: 0;
}
.jq22-navBar {
    height: 44px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 1002;
    background: #ffffff;
}
.jq22-navBar-item {
    height: 44px;
    min-width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    padding: 0 0.9rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    color: #808080;
    position: relative;
}
.jq22-navBar-item:first-child {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-right: -25%;
    font-size: 0.9rem;
    font-weight: bold;
}
.jq22-navBar-item:last-child {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.jq22-center {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 44px;
    width: 50%;
    margin-left: 25%;
}
.jq22-center-title {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    font-size: 0.95rem;
    color: #101d37;
}
.icon {
    width: 20px;
    height: 20px;
    display: block;
    border: none;
    float: left;
    background-size: 20px;
    background-repeat: no-repeat;
}
.icon-return {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAACB0lEQVRoQ+3aQU7CUBAG4BlMdOOiB4CIJxASg9t6Ar2CN4Ab6A3wCJ6AI4A7hYU9ggtIXD4jKzDvmQKihNL29Q3QmdJ1O53vTdqmf4tQsA0L5oUDWPrEDxOmnrBXuboBY2rwXXpSHy/v1PVt621twp5X8+D0pAMI/rwpo2Baqu8bvRXwHHvcBcTaygSMeVDD/r3tVCj3JwdvxM6GLAwciwXzCV+TqlKBopyYbS2yCSditfHVaBDYNki9PwmYCzZcPGcwJ6wzmBvWCcwRmxnMFZsJzBlrDeaOtQJLwKYGS8GmAkvCJoKlYWPBErEbwVKxkWDJ2DWwdOwKuAjYJTgeG0Yz0ATQe395dwkD1HDw/AcuN97WAjeX6nk81phADft19MqXPuBRN489kvek9R16lcYtAHbIi+exoIYWLgLzABDO8tgjXU/z1HSWaS1uWj1AvIg8gYHH2ZcDztt40g4j4mWIF4s2JoDx5HrfmTLFeq+klkVAr8W00tGRubRk9MYgXio69suDRHTipxZp6ERw4nOa2SMrFVgSOjVYCtoKLAFtDeaOzgTmjM4M5op2AnNEO4O5oUnAnNBk4DToMDWkeIl3qUEKTkRraKnRa9ulYddjycGxaGn/Wv5f/ci3rCmei/x9+Be+QDcBoQratMX8a+l6Xe3y+K1cw7sE2J7rALZdMW77F27CPx0GsT6uUz1MAAAAAElFTkSuQmCC');
}
.m-slider {
    overflow-x: hidden;
    width: 94%;
    position: relative;
    margin: 3%;
    border-radius: 5px;
}
.slider-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    position: relative;
    z-index: 1;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}
.slider-item {
    width: 100%;
    height: 100%;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background: #f6f6f6;
}
.slider-item img {
    width: 100%;
    height: auto;
    display: block;
    border: none;
}
.slider-pagination {
    text-align: right;
    position: absolute;
    width: 100%;
    z-index: 2;
    right: 0;
    bottom: 15px;
    pointer-events: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.slider-pagination > .slider-pagination-item {
    margin: 0 .25rem;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background-color: #3d4c59;
}
.slider-pagination > .slider-pagination-item.slider-pagination-item-active {
    background-color: #ffffff;
    border-radius: 100%;
}
.jq22-grids {
    overflow: hidden;
    position: relative;
}
.jq22-grids-item {
    width: 33.333%;
    float: left;
    position: relative;
    z-index: 0;
    padding: 0.32rem 0;
    font-size: 0.85rem;
    text-align: center;
    color: #fff;
}
.jq22-grids-item-icon {
    width: 55px;
    height: 55px;
    margin: 0 auto;
}
.jq22-grids-item-icon img {
    width: 55px;
    height: 55px;
    display: block;
    border-radius: 100%;
}
.jq22-grids-item-text {
    color: #101d37;
    font-size: 0.85rem;
    padding-top: 0.3rem;
}
.jq22-list-head h2 {
    font-size: 1.3rem;
    color: #101d37;
    padding: 15px;
}
.jq22-list-cell {
    position: relative;
    overflow: hidden;
}
.jq22-list-cell-item {
    width: 50%;
    display: block;
    border: none;
    float: left;
}
.jq22-list-cell-item-img {
    background-image: url("../images/icon-bg-001.png");
    height: 200px;
    background-size: cover;
    border-radius: 10px;
    margin-left: 15px;
    background-position: center;
    padding: 20px;
}
.jq22-list-cell-item-info {
    background-image: url("../images/icon-bg-002.png");
    height: 92px;
    background-size: cover;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 20px;
    background-position: center;
}
.jq22-list-cell-item-info-two {
    background-image: url("../images/icon-bg-003.png");
}
.jq22-list-cell-item-info h2 {
    color: #fff;
    font-size: 0.95rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
}
.jq22-list-cell-item-info span em {
    display: block;
    border: 1px solid #ffdfaf;
    border-radius: 3px;
    color: #ffdfaf;
    font-size: 0.7rem;
    float: left;
    font-style: normal;
    margin-right: 0.2rem;
}
.jq22-list-cell-item-img h2 {
    color: #fff;
    font-size: 0.95rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
}
.jq22-list-cell-item-img p {
    color: #fff;
    font-size: 0.85rem;
    margin-bottom: 0.4rem;
}
.jq22-list-cell-item-info-thr {
    background-image: url("../images/icon-bg-004.png");
}
.jq22-list-cell-item-info-thr h2 {
    color: #333;
}
.jq22-list-cell-item-info-fou {
    background-image: url("../images/icon-bg-005.png");
}
.jq22-list-cell-item-info-fou h2 {
    color: #333;
}
